@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: url('../public/images/abstract-gradient-neon-lights.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.degrees:after {
  content: "\00b0"
}